@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Roboto:wght@100;300&display=swap');

body {
    color: white;
    background-color: #000317;
}

a,ul {
    list-style: none;
    text-decoration: none;
    color: white;
}

.purple{
    color: #e226e2;
}

.myBtn{
    color: #e226e2;
    background: transparent;
    border: 1px solid #e226e2;
}

.myBtn:hover{
    /* color: #e226e2; */
    background: #e226e2
}